@import "tailwindcss";


@layer base {
  /* Scrollbar styles for modern browsers (Webkit-based) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #4362ee37;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4362ee37;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #4362ee37 #f1f1f1;
  }
}
