@import "tailwindcss";


@layer base {
  /* Scrollbar styles for modern browsers (Webkit-based) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #4362ee37;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4362ee37;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #4362ee37 #f1f1f1;
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #caf0f838, #90e1ef2b, #0076b629, #023d8a28);
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}